/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Lato;
  display: flex;
  flex-direction: column;
}

/* Cabeçalho */
header {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* logo à esquerda */
  background-color: #1a1a1a;
  padding: 10px 40px;
  gap: 50px; /* espaço entre logo e menu */
}

main {
  padding-top: 380px;
  background-image: url(imagens/silent\ witch\ Artstation.jpg);
  padding-left: 130px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 780px;
  box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.8);
  flex: 1; /* empurra o footer pro fim */
}

footer {
  background-color: #1a1a1a;
  height: 50px;
  padding: 8px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Cor dos paragrafos */
p {
  color: #d8d7d7;
}

main h2 {
  color: white;
  font-size: 2.3rem; /* título maior */
  font-weight: 700;
  margin-bottom: 10px;
}

main p {
  color: #e3e3e3; 
  font-size: 1.1rem;
  line-height: 1.6; /* espaçamento entre linhas */
  max-width: 600px; /* largura do texto */
  margin-bottom: 20px; /* espaço entre parágrafo e botão */
}

footer p {
  color: #aaa;
  font-size: 0.8rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 30px;
}

.logo h1 {
  color: #e66108;
  font-size: 1.3rem;
  font-family: Arial, sans-serif;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: rgb(230, 97, 8);
}

/* Botoes */
.btn {
  display: inline-block;
  background-color: rgb(230, 97, 8);
  color: black;
  padding: 12px 24px;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 3px;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
}

.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1a1a1a;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.cookie-banner button {
  padding: 8px 15px;
  border: none;
  background: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.texto-box {
  background: #1a1a1a;
  padding: 30px 40px;
  border-radius: 8px;
  max-width: 550px;
  backdrop-filter: blur(1px);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.btn:hover {
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}
